In [ ]:
1.5
SELECT Accel FROM evCars;

In [ ]:
1.1
SELECT Accel FROM evCars

1.2
RTRIM(Accel, 'sec')

1.3
SELECT Accel, RTRIM(Accel, '  sec') 
FROM evCars

1.4 Update the records
UPDATE evCars 
SET Accel = RTRIM(Accel, ' sec')

1.5 Check Your Work
SELECT Accel FROM evCars;

1.6 Rename the Column
ALTER TABLE evCars
 RENAME Accel TO AccelSec

In [ ]:
2.1 Review the Column
SELECT columnname FROM tablename;

2.2 Selecting the Correct String 
-- SELECT TopSpeed
-- FROM evCars
-- LIMIT 10

SELECT  Range
FROM evCars
LIMIT 10

select FastCharge from evCars

2.3
SELECT TopSpeed, RTRIM(TopSpeed, ' km/h ') 
FROM evCars

-- SELECT  Range
-- FROM evCars
-- LIMIT 10

select Efficiency from evCars

select FastCharge from evCars

2.4
UPDATE evCars 
SET TopSpeed = RTRIM(TopSpeed, ' km/h')

UPDATE evCars 
SET Range = RTRIM(Range, ' km')

update evCars
set range = Rtrim(Efficiency, ' Wh/km ')

update evCars
-- SET Efficiency = rtrim (Efficiency, 'Wh/km')

In [ ]:
2.5 Check you work

Select TopSpeed from evCars
select range from evCars
select FastCharge from evCars

2.6 Convert the units to MPH
SELECT TopSpeed
from evCars

update evCars
set TopSpeed = TopSpeed *0.621371;

select TopSpeed, TopSpeed*(0.621371, 2) as "Top Speed MPH"
From evCars

- 2.7 Rename the column
ALTER TABLE evCars
RENAME TopSpeed TO topSpeedMPH

2.8 Select All of the records to get a look at the whole table with your recent changes.
SELECT * 
FROM evCars

3.1 - 3.7
-- select range
-- from evCars

UPDATE evCars 
SET Range = RTRIM(Range, ' km')

select range
from evCars

-- UPDATE EVcars 
-- SET Range = ROUND(Range * 0.621371, 1)

select range
from evCars

-- Alter table evCars
-- rename Range to rangeMiles

4.1 -4 .7
select Efficiency from evCars

UPDATE EVcars 
SET Efficiency = ROUND(Efficiency * 0.621371, 1)

select Efficiency from evCars

Alter table evCars
rename Efficiency to efficiencyWHperKM

select FastCharge from evCars

UPDATE EVcars 
SET FastCharge = ROUND(FastCharge * 0.621371, 1)

SELECT FastCharge from evCars

Alter table evCars
rename FastCharge to 'OneHourFastChargeMiles'

5.1
SELECT RapidCharge, Count(*)
FROM evCars
GROUP BY RapidCharge

5.2 
UPDATE evCars
SET RapidCharge = CASE
    WHEN RapidCharge = > 400 THEN TRUE
    WHEN RapidCharge = < 400 THEN FALSE
  
END;

5.3 

For the purpose of this exercise, if the car's RapidCharge value equals _____>_400___________ then I want you to change the value to 'Yes'
If the RapidCharge value equals _________< 400______ then I want you to change the value to 'No'.

6.1 
select PowerTrain from evCars

6.2
If the PowerTrain equals _____All Wheel Drive_________ then I want you to change the value to 'AWD'
If the PowerTrain equals ____Rear Wheel Drive__________ then I want you to change the value to 'RWD'
If the PowerTrain equals _____Front Wheel Drive_________ then I want you to change the value to 'FWD'

6.3 -6.4
select PowerTrain from evCars

UPDATE evCars 
set PowerTrain = 'RWD'
where PowerTrain = 'Rear Wheel Drive';

select PowerTrain from evCars

UPDATE evCars
set PowerTrain = "FWD"
where PowerTrain = 'Front Wheel Drive'

select PowerTrain from evCars

7.1-7.3
select PriceEuro from evCars

Update evCars
set PriceEuro * 1.09

UPDATE evCars
SET PriceEuro = Round(PriceEuro * 1.09, 2)

Alter table evCars
rename PriceEuro to 'PriceUSD'


UPDATE evCars
SET PriceUSD = Round(PriceUSD * 1.09, 2)