 7.1 HW Questions 


1. Using EVregistry, Write a query to select the `ModelYear`, `Make`, and `Model` off all of the vehicles in the registry.
2. Using the EVRegistry table, Write a query that lists all of the unique types of EV's. your reult set should have one column, `ElectricVehicleType`. 
3. Using the EVRegistry, Write a query that shows all of the information on Battery Electric Vehicles (BEV) that are in the registry. 
4. Using the EVRegistry, wirte a query that returns the `Make` and `Model` of all of the EV's that have a BaseMSRP between 20000 and 35000?

In [ ]:
#1. Using EVregistry, Write a query to select the `ModelYear`, `Make`, and `Model` off all of the vehicles in the registry.

SELECT ModelYear, Make, Model
FROM EVRegistry

In [ ]:
#2. Using the EVRegistry table, Write a query that lists all of the unique types of EV's. your reult set should have one column, `ElectricVehicleType`. 

SELECT DISTINCT ElectricVehicleType
FROM EVRegistry

In [ ]:
#3. Using the EVRegistry, Write a query that shows all of the information on Battery Electric Vehicles (BEV) that are in the registry. 

SELECT *
FROM EVRegistry
WHERE ElectricVehicleType ='Battery Electric Vehicle (BEV)'

In [ ]:
#4. Using the EVRegistry, wirte a query that returns the `Make` and `Model` of all of the EV's that have a BaseMSRP between 20000 and 35000?  

SELECT MAKE, Model
FROM EVRegistry
WHERE BaseMSRP BETWEEN 20000 AND 30000

 7.2 HW Questions 

1. Using EVRegistry, write a query to find a record  where the `City` attribute is NULL. Return all of the available columns. 
2. Write a query to find the `make`, `model`, and `ElectricVehicleType` where the VIN number has  that ends in '3E1EA1J'.
3. Select the `ModelYear`, `make`, `model`, `ElectricVehicleType`, and `range` of the Tesla vehicles or cheverolet vehicles in the registry. Order the result set by Make and Model year in from newest to oldest. 
4. Using EVCharging, Write a query to find out how many many times those stations were used. Order them by the most used to the least used and limit the output to 5 records. 
5.  Using EVCharging, For the folks who charged longer than 0.5 hours, show the min and max of the charging time for each user. Your output columns should be `userid`, `minTime`, and `maxTime`. Order this result set by the last two columns respectively.

In [ ]:
#1. Using EVRegistry, write a query to find a record  where the `City` attribute is NULL. Return all of the available columns. 

SELECT *
FROM EVRegistry
WHERE CITY IS NULL;

In [ ]:
#2. Write a query to find the `make`, `model`, and `ElectricVehicleType` where the VIN number has  that ends in '3E1EA1J'.

SELECT MAKE, MODEL, ElectricVehicleType, VIN
FROM EVRegistry
WHERE VIN LIKE '%3E1EA1J%';

In [ ]:
#3. Select the `ModelYear`, `make`, `model`, `ElectricVehicleType`, and `range` of the Tesla vehicles or cheverolet vehicles in the registry. Order the result set by Make and Model year in from newest to oldest. 

SELECT ModelYear, MAKE, MODEL, ElectricVehicleType, ElectricRange
FROM EVRegistry
WHERE MAKE = 'TESLA' OR 'CHEVROLET'
GROUP BY Model
ORDER BY ModelYear

In [ ]:
#4. Using EVCharging, Write a query to find out how many many times those stations were used. Order them by the most used to the least used and limit the output to 5 records. 

SELECT stationId, COUNT(*) AS 'TOTAL_USAGE'
FROM EVCharging
GROUP BY stationId
ORDER BY TOTAL_USAGE DESC
LIMIT 5

In [ ]:
#5. Using EVCharging, For the folks who charged longer than 0.5 hours, show the min and max of the charging time for each user. Your output columns should be `userid`, `minTime`, and `maxTime`. Order this result set by the last two columns respectively. 

SELECT userId, MIN(chargeTimeMins), MAX(chargeTimeMins) 
FROM EVCharging
WHERE chargeTimeMins >30
GROUP BY userId
ORDER BY MIN(chargeTimeMins), max(chargeTimeMins) DESC

Section 7.3
1. Using EVCharging, Which day of the week has the highest average charging time? Round the answer to 2 decimal points.
2. Using, EV charging, Find the total power consumed from charging EV's by each User. Return the `userId` and name the calculated column, `totalPower`. Round the answer to 2 deciaml points and list the out put in highest to lowest order. Limit the order to the top 15 users. 
3. Using dimfacility and factCharge, write a query to find out which type of facility (GROUP BY) has the most amount of charging stations. Return `type Facility` and name the calculated column `numStation`. Order the result set from highest to lowest number of charging stations.  
4. In your own words, Briefly explain Primary Keys and Foreign Keys. 
5. Using EV Charging, For the folks who charged longer than one hour, show the min and max of the charging time for each user. Your output columns should be `userid`, `minTime`, and `maxTime`. Order this result set by the last two columns respectively. HINT: USE `HAVING`

In [ ]:
#1. Using EVCharging, Which day of the week has the highest average charging time? Round the answer to 2 decimal points.

SELECT AVG(round(chargeTimeMins, 2)) AS AVERAGECHARGETIME, weekday
FROM EVCharging
GROUP BY weekday
ORDER BY chargeTimeHrs ASC

In [ ]:
#2. Using, EV charging, Find the total power consumed from charging EV's by each User. Return the `userId` and name the calculated column, `totalPower`. Round the answer to 2 deciaml points and list the out put in highest to lowest order. Limit the order to the top 15 users. 

SELECT userId, ROUND(SUM(kwhTotal), 2) AS totalPower
FROM EVCharging
GROUP BY userId
ORDER BY totalPower ASC;

In [ ]:
-- #3. Using dimfacility and factCharge, write a query to find out which type of facility (GROUP BY) has the most amount of charging stations. Return `type Facility` and name the calculated column `numStation`. Order the result set from highest to lowest number of charging stations.  


select DISTINCT facilityType as 'type facility', count(stationId) as 'Num Station', locationId
from EVCharging
group by facilityType
order by stationId DESC

In [ ]:
#4. In your own words, Briefly explain Primary Keys and Foreign Keys. 
# Primary keys contain information from an original source located in a database (main column). Foreign keys contain information located in a secondary database that is dependent on the information contained in a primary key (secondary or location dependent on the primary).

In [ ]:
#5. Using EV Charging, For the folks who charged longer than one hour, show the min and max of the charging time for each user. Your output columns should be `userid`, `minTime`, and `maxTime`. Order this result set by the last two columns respectively. HINT: USE `HAVING`

SELECT userId,
       MIN(chargeTimeHrs) AS minTime,
       MAX(chargeTimeHrs) AS maxTime
FROM EVCharging
GROUP BY userId
HAVING SUM(chargeTimeHrs) > 1
ORDER BY minTime, maxTime;